/*
!/.gitignore
!/.vim/
!/.config/
!/.subversion/
!/.fluxbox/
!/.mozilla/
!/bin/
!/.asoundrc
!/.bash_profile
!/.bashrc
!/.gdbinit
!/.gitconfig
!/.gtkrc-2.0
!/.hgrc
!/.inputrc
!/.pythonstartup.py
!/.tmux.conf
!/.vimrc
!/.Xdefaults
!/.xinitrc
