[user]
    name = Aleksey Rybalkin
    email = aleksey@rybalkin.org
    signingkey = 4D8CAE8DB5B76A04F7199BC65B89C7585CA1EB8A
[color]
    ui = true
[color.status]
    header = white bold
    branch = green
[init]
    defaultBranch = main
[merge]
    tool = vimdiff
    defaultToUpstream = true
[push]
    default = upstream
    followTags = true
    recurseSubmodules = on-demand
[pull]
    ff = only
[gpg]
    program = /usr/bin/gpg
[diff]
    submodule = log
