# .gitconfig

# Copyright (C) 2010-2017 Aleksey Rybalkin

# This file is part of unix-home.

# unix-home is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# unix-home is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with unix-home.  If not, see <http://www.gnu.org/licenses/>.

[user]
    name = Aleksey Rybalkin
    email = aleksey@rybalkin.org
    signingkey = 4D8CAE8DB5B76A04F7199BC65B89C7585CA1EB8A
[color]
    ui = true
[color.status]
    header = white bold
    branch = green
[merge]
    tool = vimdiff
    defaultToUpstream = true
[push]
    default = upstream
[alias]
    sorted-tags = for-each-ref --sort='*authordate' --format='%(tag)' refs/tags
[gpg]
    program = /usr/bin/gpg2
[sendemail]
    smtpServer = /usr/bin/sendmail-custom
