/*
!/.gitignore
!/.vim/
!/.config/
!/.subversion/
!/.fluxbox/
!/.proxychains/
!/.mozilla/
!/bin/
!/.vimrc
!/.vim.tabs
!/.Xdefaults
!/.bash_profile
!/.bashrc
!/.inputrc
!/.gitconfig
!/.hgrc
!/.xinitrc
!/.tmux.conf
!/.asoundrc.intel
!/.asoundrc.pch
!/.gdbinit
!/.gtkrc-2.0
