# Copyright (c) 2010-2018 Aleksey Rybalkin
# SPDX-License-Identifier: GPL-3.0+

/download/
/projects/
/sandbox/
/arcadia/
/.ya/
/.ssh/
/.CLion*/
/.java/
/.ansible/
/.audacity-data
/.bash_history
/.sqlite_history
/.rubberband.wisdom*
/.pdsettings
